:root {
    --paragraph-font-family: "Roboto-Medium", Helvetica;
    --paragraph-font-weight: 500;
    --paragraph-font-size: 16px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: 150%;
    --paragraph-font-style: normal;
    --title-font-family: "Roboto-Bold", Helvetica;
    --title-font-weight: 700;
    --title-font-size: 24px;
    --title-letter-spacing: 0px;
    --title-line-height: 150%;
    --title-font-style: normal;
    --subtitle-font-family: "Roboto-Bold", Helvetica;
    --subtitle-font-weight: 700;
    --subtitle-font-size: 18px;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: 150%;
    --subtitle-font-style: normal;
  }
  